extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    .navlink
      a(href="/logout") Log out
   section#search 
    h2.main Compare your stats to friends!
    form#searchForm(class="searchForm", name="searchForm", action="/statCheck", method="POST")
      label(for="searchName") Username: 
      input#searchName(type="text", name="searchName", placeholder="username")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#searchSubmit(class="searchSubmit", href="#") Search
  section#stats
     div.player
       h2.title Your Stats:
       h3.playerls Werewolf Wins: #{player.wolfWin}
       h3.playerrs Werewolf Losses: #{player.wolfLoss}
       h3.playerls Villager Wins: #{player.villWin}
       h3.playerrs Villager Losses: #{player.villLoss}
  section#result
     if result
       div.player
         h2.title #{result.username}'s Stats:
         h3.playerls Werewolf Wins: #{result.wolfWin}
         h3.playerrs Werewolf Losses: #{result.wolfLoss}
         h3.playerls Villager Wins: #{result.villWin}
         h3.playerrs Villager Losses: #{result.villLoss}
block scripts
        script(src="/assets/client.js")